@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Tenor+Sans&display=swap');

h1 h2{
    font-family: 'Tenor Sans', sans-serif;
}
p{
    font-family: 'Comfortaa', cursive;
}

body{
    background-color: #FBE088;
}

main{
    background-color: #ffff;
}

nav{
    background-color: #E0E1E0;
    text-align:center;
   
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Comfortaa', cursive;

}
nav li a{
    display: block;
    color:#ffff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1rem;
    
}
nav a:hover {
background-color:#C1E79C;
color: #ffff;
}

@media only screen and (min-width: 37.5em){
    nav ul{
        display: flex;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    }
}

#logo{
    width:150px;
    


}

.color-scheme{
    width:100px;

}