@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Tenor+Sans&display=swap');

h1, h2{
    font-family: 'Lobster', cursive;
}

p, li, footer{
    font-family: 'Comfortaa', cursive;
}

header, footer{
    background-color: #FBE088;
}

body{
    background-color: white;

}

nav{
    margin: 0 auto;
    max-width: 360px;
    background-color: #e0e1e0;

}

#navigation{
    list-style: none;
    padding: 0;
    grid-template-columns: auto;
    display: grid;
}

#navigation li:first-child{
    display: block;
}

#navigation li{
    display: none;
}

#navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

#navigation a:hover, #navigation a.active:hover{
    color: white;
    background-color: #c1e79c;

}

#navigation a.active{
    background-color: rgba(0,0,0,55);
    color: white;
    
}

#navigation.responsive li{
    display: block;
}

@media only screen and (min-width:34.5em){
    nav{
        max-width: 100%;
    }
    #navigation{
        grid-template-columns: repeat(4,auto);
    
    }

    #navigation li{
        display: block;
    }
    #navigation a {
        text-align: center;

    }

    #navigation li:first-child{
        display: none; 
    }
}

@media only screen and (min-width: 54.5em){
    body{
        width: 800px;
        margin: 16px auto;
    }
}

footer{
    text-align: center;
}

#lobster{
    font-family: 'Lobster', cursive; 
}

#comforta{
    font-family: 'Comfortaa', cursive;  
}

#logo{
    width: 100px;
}

#color-scheme{
    width:100%;
}

.bold{
    font-weight: bold;
}