/*large */
@media only screen and (min-width: 54.5em) {

    #navigation,
    #body {
        width: 800px;
        margin: 16px auto;
        margin-top: 0px;
    }

    fieldset {
        width: 800px;
        align-self: center;
        margin: auto;
    }


    form{
        width: 800px;

    }
    .larger input{
        width: 700px;
    }
}