/*large */
@media only screen and (min-width: 54.5em) {

    #navigation,
    .body {
        width: 800px;
        margin: 16px auto;
        margin-top: 0px;
        text-align: center;
    }

    fieldset {
        width: 600px;
        align-self: center;
        margin: auto;
        margin:10px;
    }
    
    
    form{
        width: 90%;
    
    }
    .larger input, #storm_type, #selectregion, textarea{
        width: 500px;
    }

    .submit_icon, img{
        width: 300px;
        height: 270px;
        margin-left: auto;
        margin-right: auto;
    }

    #thankyou{
        font-size: 40px;
    }
    footer{
        font-size: 15px;
    }
    .iframe {
        width: 250px;
        height: 150px;
    }
}