/*medium */
@media only screen and (min-width: 34.5em){
    .five_day_forecast{
        width: 100px;
        height:auto;
    }

    #navigation, .body {
        margin-top: 0px;
    }
   
    header img{
        width: 150px;
    }
    .heading h1{
        font-size: 3rem;
    }
    .motto{
        font-size: larger;
       
    }
    nav{
        max-width: 100%;
    }
    #navigation{
        grid-template-columns: repeat(6,auto);
    
    }

    #navigation li{
        display: block;
    }
    #navigation a {
        text-align: center;

    }

    #navigation li:first-child{
        display: none; 
    }

    
    h2 {text-align:center;}

    .body, .json_section {
     max-width: 800px;
      margin: .5rem auto;  
     
    }
    
    .json_section{
      display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px;
    }
    
    .json_section:nth-child(odd) img{
        grid-column: 1;
    }
    
    .json_section:nth-child(odd) .data{
        grid-column: 2;
        grid-row: 1;
    }
    
    .json_section img{
       width: 100%; height: auto;padding:0;
       /* display: block; */
       margin-left: auto;
       margin-right: auto;
       /* margin-top: 45px;
         */
    }

    .data{
        background-color:#D1F5FF;
        margin: 0px;
    }

    .json_section p{
        padding: .75rem;
        margin: 0px;
    }
    footer{
        font-size: 12px;
    }
    .iframe {
        width: 200px;
        height: 150px;
    }

    /* Storm cente page */
    fieldset {
        width: 500px;
        align-self: center;
        margin: auto;
        margin:10px;
    }
    
    
    form{
        width: 90%;
    
    }
    .larger input{
        width: 500px;
    }
   
    .submit_icon, img{
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    #thankyou{
        font-size: 30px;
    }

    /* PRESTON PAGE */
    .pancake_banner{   
        font-size: 18px;
    }
    .pancake_img{
        width: 50px;
        height: auto;
    }  

    #weather_summary{
        font-size: 13px;
    }
    
}   