h1{
    padding-top: 10px;
    font-size: 36px;
    line-height:100px; 
    background-color: burlywood;
    text-align: center;
    border-style: dotted;

    }
    .image{
    float:none;
    margin:75px 20px 0px 0px;
    font-size: 20px;
    width: 150px;
    }